@font-face {
    font-family: 'underdogregular';
    src: url(../Fonts/underdog/underdog-regular-webfont.woff2) format('woff2'),
    url(../Fonts/underdog/underdog-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'underdogregular', cursive;
    background-size: auto;
}

.app {
    display: inline-block;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.picture {
    text-align: center;
}

#picture {
    margin-left: 1%;
}

#welcome, #stopGame {
    background-image: url("19366.jpg");
    background-size: cover;
}

.welcomePage {
    text-align: center;
    font-size: 3em;
    margin: auto;
}

.center {
    text-align: center;
}

.rules {
    display: flex;
    margin: 4% 3%;
}

.bold {
    font-weight: bold;
}

#welcomePage {
    display: block;
    font-size: 18px;
}

.score {
    display: flex;
    margin: 2% 4%;
}

.point {
    width: 20%;
    font-size: 1.5em;
}

.goodLuck {
    font-size: 1.5em;
    width: 30%;
    text-align: center;
    margin: 0;
}

.startGame {
    box-shadow: 17px 17px 17px -4px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 30px;
    text-decoration: none;
    text-shadow: 12px 11px 3px #3d768a;
    margin-left: 80%;
}

.startGame:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.startGame:active {
    position: relative;
    top: 1px;
}

.description {
    width: 50%;
    margin-left: 4%;
    font-style: italic;
    font-size: 1.1em;
    color: #456394;
    font-weight: 500;
}

.mainRules {
    width: 40%;
    margin-left: 5%;
}

#main {
    font-size: 1.5em;
}

.info {
    width: 70%;
    text-align: center;
    color: #456394;
    font-size: 1.6em;
    margin-top: 2%;
    margin-bottom: 0;
}

.information {
    display: flex;
}

#startGame {
    background-image: url("2868118.jpg");
    background-size: cover;
    z-index: 1;
}

#frame {
    width: 40em;
    background-color: white;
    z-index: 2;
    border: 2px solid grey;
}

#photo {
    background-image: url("photo.png");
    background-size: cover;
    border-radius: 50%;
    z-index: 3;
    width: 4em;
    height: 4em;
    margin: 2% 5%;
}

#nick {
    text-align: justify;
    padding-left: 20%;
    font-weight: bold;
    margin-top: -9%;
}

#profession {
    text-align: justify;
    padding-left: 20%;
    margin-top: -2%;
}

#dots {
    font-size: 3em;
    color: gray;
    width: 20%;
    margin-top: -11%;
    text-align: end;
    margin-left: 72%;
}

.img {
    max-height: 24em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
}

#lines {
    position: absolute;
    left: 45em;
    top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 35em;
    text-align: center;
}

.tag {
    letter-spacing: 0.3em;
    word-wrap: break-word;
    font-size: 3em;
    height: 7em;
}

.points {
    font-size: 1.1em;
    text-align: start;
    width: 60%;
}

.title {
    margin: auto auto 2% auto;
    /*margin-bottom: 2%;*/
}

.underline {
    text-decoration: underline;
}

#totalPoints {
    color: #224469;
    font-size: 1.5em;
}

.solveTag {
    box-shadow: 17px 17px 17px -4px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 22px;
    text-decoration: none;
    text-shadow: 12px 11px 3px #3d768a;
    margin-left: 50%;
}

#symbols {
    background-color: white;
    margin-top: 0.5em;
    margin-left: 3em;
}

.symbol {
    width: 1.75em;
    height: 1.75em;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.flag {
    margin-left: 22em;
}

#info {
    margin-left: 2em;
    margin-right: 2em;
}

#hashtags {
    color: darkblue;
    font-weight: normal;
}

#name {
    font-weight: bold;
    margin-top: -0.5em;
    font-size: 1em;
}

.views {
    margin-top: -0.1em;
    color: dimgrey;
}

#view {
    color: dimgrey;
    font-size: 0.8em;
    margin-top: -0.5em;
}

#when {
    color: grey;
    margin-top: -0.5em;
    font-size: 0.75em;
}

#provideSolution {
    position: absolute;
    left: 60%;
}

#answer {
    font-size: 1em;
    font-weight: bold;
}

#solve {
    font-size: 20px;
    width: 23em;
    height: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    display: inline-block;
    background: linear-gradient(to bottom, #c0d8d7 5%, #a7afb0 100%);
}

.checkButtons {
    justify-content: space-between;
}

#solution, #guess {
    box-shadow: 17px 17px 17px -4px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 12px 11px 3px #3d768a;
}

#solution {
    margin-left: 1.5em;
}

#guess {
    margin-left: 2em;
}

#infoAboutSolution {
    position: absolute;
    left: 55%;
    top: 45%;
    color: darkslategrey;
    font-style: italic;
    width: 43%;
    text-align: center;
}

#continueOrStop {
    position: absolute;
    left: 60%;
    top: 55%;
    width: 40%;
}

#stop {
    left: 6em;
}

.refresh, .stop {
    box-shadow: 17px 17px 17px -4px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 12px 11px 3px #3d768a;
    margin-right: 3%;
    width: 40%;
}

#message {
    position: absolute;
    top: 25%;
    left: 10%;
    background: rgba(211, 211, 211, 0.5);
    width: 28%;
    text-align: center;
}

.infoMessage {
    font-size: 2em;
    margin: auto;
}

.letter {
    font-size: 7em;
    margin: auto;
}

#stopGame {
    text-align: center;
    font-size: 1.5em;
}

#end {
    margin: 0;
    padding: 10% 0 0 0;
}

.end2 {
    padding: 0 0 5% 0;
    font-weight: bold;
}

#endInfo {
    text-align: end;
    padding: 13% 10% 0 0;
}

#startAgain {
    text-align: end;
    padding: 0 8% 3% 0;
}

#startAgainButton {
    box-shadow: 17px 17px 17px -4px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 12px 11px 3px #3d768a;
}

.totalScore {
    margin-left: 12em;
}